<div>
  <button [ngStyle]="{'background-color': rangeValue >= 1 ? 'green' : 'red' }" (click)="handleClick(1)">1</button>
  <button [ngStyle]="{'background-color': rangeValue >= 2 ? 'green' : 'red' }" (click)="handleClick(2)">2</button>
  <button [ngStyle]="{'background-color': rangeValue >= 3 ? 'green' : 'red' }" (click)="handleClick(3)">3</button>
  <button [ngStyle]="{'background-color': rangeValue >= 4 ? 'green' : 'red' }" (click)="handleClick(4)">4</button>
  <button [ngStyle]="{'background-color': rangeValue >= 5 ? 'green' : 'red' }" (click)="handleClick(5)">5</button>
</div>
