<p>home works! / {{ machinText() }}</p>
<form #actorForm="ngForm" (ngSubmit)="onSubmit(actorForm)">
  <div>
    <input type="text" class="form-control" id="name" pattern="[0-9]{3}" required [(ngModel)]="model.name" name="name">
    <app-stuff [(ngModel)]="model.range" name="range" />
  </div>
  <div>
    {{ model | json }}
  </div>
  <div>
    <button [disabled]="!actorForm.valid" type="submit">OK</button>
  </div>
</form>
<hr>
<div><button (click)="incrementCount()">Counter</button></div>
<app-machin-viewchild />
<hr>
<div>{{ count() }} - <button (click)="increment()">Increment</button></div>
<div>Double: {{ doubleCount() }}</div>
<div><app-test-input [data]="test()" /></div>
